{% extends "base.html" %} {% block title %}symptoms{% endblock %}

{% block content %}
<h1> Please Choose Your Symptoms</h1>

<div class="form-check">
  <form method="POST" action="/">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" name="symptomCheckBox">
    <label class="form-check-label" for="flexCheckDefault">
      Cough
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" name="symptomCheckBox">
    <label class="form-check-label" for="flexCheckChecked">
      Runny Nose
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" name="symptomCheckBox">
    <label class="form-check-label" for="flexCheckChecked">
      Headache
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" name="symptomCheckBox">
    <label class="form-check-label" for="flexCheckChecked">
      Stomach Ache
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" name="symptomCheckBox">
    <label class="form-check-label" for="flexCheckChecked">
      Fever
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" name="symptomCheckBox">
    <label class="form-check-label" for="flexCheckChecked">
      Watery Eyes
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" name="symptomCheckBox">
    <label class="form-check-label" for="flexCheckChecked">
      Sneezing
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" name="symptomCheckBox">
    <label class="form-check-label" for="flexCheckChecked">
        Sharp Pain
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" name="symptomCheckBox">
    <label class="form-check-label" for="flexCheckChecked">
      Eczema
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" name="symptomCheckBox">
    <label class="form-check-label" for="flexCheckChecked">
      Rashes
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" name="symptomCheckBox">
    <label class="form-check-label" for="flexCheckChecked">
      Diahrea
    </label>
  </div>

  <div>
    <a href = "medication">
      Submit
  </a>
  </div>


  </form>
   
{% endblock %}